<?php
/*
    辣鸡 Bing 今日美图 API 配置文件 By Little_Qiu
    你可以根据每个配置项上方的注释，修改你的配置文件。
*/
// 是否使用在 URL 后添加 daysago 参数的方法指定时间，若关闭则可在下一条设置项中设置时间
$useUrl = true;
// 设置时间（几天前），将 0 修改为你需要的时间，1 为昨天，2 为前天，-1 为明天，以此类推
$daysAgo = '0';
// 设置更新源
$updateRepo = 'https://raw.githubusercontent.com/Minecraft-LittleQiu/laji-bing-pic-api/master/update.json';
?>